<div class="container  ">
  <div class="row mt-4" >


    <form [formGroup]="myForm">
    <h3>Productos:</h3>
    <div class="row">
        <div class="col-4">
      <label class="form-label">Numero de Producto*</label>
      <input type="email" class="form-control" formControlName="name" />
    </div>
    <div class="col-6">
      <label class="form-label">Descripcion del producto</label>
      <textarea class="form-control" formControlName="description" rows="3"></textarea>
    </div>
    <div class="col-4">
      <label class="form-label">Cantidad*</label>
      <input type="email" class="form-control" formControlName="cantidad"/>
    </div>
    <div class="col-3">
      <label class="form-label">Precio Unitario*</label>
      <input type="email" class="form-control" formControlName="precioU" />
    </div>
    <div class="col-3">
      <label class="form-label">IVA*</label>
      <select class="form-select" aria-label="Default select example" formControlName="iva">
        <option selected>Seleccione</option>
        <option value="1">0%</option>
        <option value="2">12%</option>
        <option value="3">16%</option>
      </select>
    </div>
    <div class="col-10  mt-4 d-flex justify-content-center">


      <button type="button" class="btn btn-primary" (click)="enviarInfo()" [disabled]="myForm.invalid" >Agregar</button>
    </div>
    </div>
    

    </form>

  </div>
</div>
