<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Bienvenido</h1>
      <p>¿Que desea hacer?</p>
      <div class="row">
              <div class="col-md-6 col-sm-3" >
          <button  [routerLink]="['/factura']" class="btn btn-primary" type="button">

          Realizar Nueva Factura
        </button>
      </div>
      <div class="col-md-6 col-sm-3" >
           <button  [routerLink]="['/historial']" class="btn btn-primary" type="button">
          Ver Historial Facturas
        </button>
      </div>
      
      </div>

      
     
  
    </div>
  </div>
</div>
